<% content_for :filters do %>
	<h4>Repos:</h4>
	<div>
		<%= raw "#{format_tags(@tag_filters)} &#9658;" if @tag_filters %>
	</div>
<% end %>

<% @repos.each do |repo| %>
	<%= render :partial => "repos/repo", :object => repo %>
<% end %>

<% content_for :scripts do %>
	<%= render :partial => "repos/repos_for_backbone", :locals => {:repos => @repos } %>
<% end %>