<% content_for :multiple_repos do %>
	<% @repos.each do |repo| %>
		<%= render :partial => "repos/repo", :object => repo %>
	<% end %>
<% end %>

<% content_for :side_content do %>
	<strong>Top Tags</strong>
	<ul id="user_tags" class="tag_box">
	<% @tags.each do |tag| %>
		<li><%= link_to_tag(tag, repos_tagged_path(tag.name) )%></li>
	<% end %>
	</ul>
<% end %>

<% content_for :scripts do %>
	<%= render :partial => "repos/repos_for_backbone", :locals => {:repos => @repos } %>
<% end %>