<% content_for :multiple_repos do %>
<h2>About</h2>

Hello, I am <a href="http://plusjade.com">Jade Dominguez</a>
<p>
	I am working on narly because I want to be a better programmer and I learn a lot from reverse engineering how other people's projects work.
	<br/>This means I first have to have a good way to find code based on my learning interests.
	<br/>So narly is hopefully a way to discover and organize projects whether new or old, big or small, personal or enterprisey.
</p>

<h2>Oh, Yeah - Narly.us is My R&#233;sum&#233;.</h2>
<p>
	I don't believe in r&#233;sum&#233;s and I don't write them. Never have, never will. (Actually I have once for a pizza delivery job)
	<br/>If you need me write a r&#233;sum&#233;, theres a 99% chance I'd hate working for your company so I'm doing us both a favor.
</p>

<h3>Show Me What You Got.</h3>
<p>
	I can't conceive why any passionate developer <em>wouldn't</em> have an active GitHub profile.
	<br/>My previous boss noted that it's because most employers don't allow employees to disclose their work.
</p>

<p>
	It bothers and saddens me that this would have ever been true.
	<br/>It bothers and saddens me that Academia thinks sharing == cheating.
	<br/>(There was a previous discussion on how GitHub should have free private repos for students to which I couldn't understand why private was needed. 
	<br/>The answer was that it was required by the professor to curb cheating)
</p>
	
<p>	
	<strong>Everything I Learn is From Other People.</strong>
	<br/>Every piece of code I have ever written was influenced if not blatantly taken from someone else's work.
</p>

<p>
	Sharing and teamwork is the only way you ever get anything of significance done.
	<br/>So I am what I have done. I am what I push.
</p>

<h3>Github &lt;3</h3>
<p>
	I've always had this secret goal of working for GitHub.
	<br/>To me, GitHub helps proliferate the Free and Open sharing of knowledge.
</p>	

<p>
	GitHub is doing an excellent job at enabling developers to easily share their code.
</p>
<p>
	I really care about Free and Open knowledge and I care about Education.
	<br/>I think GitHub has a fantastic brand-name and as such is in a position to be
	increasingly influentual in a lot of key spaces
	<br/>(which I won't get into for the sake of brevity).
</p>

<h3>I'm Not Applying Just Yet =/</h3>
<p>
	This is not an "application for employment" just yet though.
	<br/>The GitHubber's have blogged about what they value in a team member.
	<br/>Mainly it is to get to know the team through Open Source contributions and be active
	in the community in general.
	<br/>You have to be good enough to make a name for yourself - definitely respect that. 
</p>	

<p>
	Maybe I'm not good enough to work for GitHub yet, I'm not sure.
	<br/>I think being a good teammate is not about what you know but <em>how</em> do you know what you know? It's a very important distinction. 
	<br/>How do you know mysql's limitations? Because you read a blog or because you built 
	something in a way that bit you in the ass and now you know the limitations of that design decision?
</p>

<p>
	Lastly, I still have some stuff to weigh as far as personal projects, personal career goals, and long-term life considerations.
	<br/>The point is I learned to be very uncompromising when it comes to my professional pursuits.
	<br/>From the companies I know of I would only want to work for 3:
</p>
<ul>
	<li>Google</li>
	<li>GitHub</li>
	<li>Khan Academy</li>
</ul>
<ul>
	<li><strong>Google</strong><br/>
		Yeah, yeah, Google is "just an ad company" but if you actually "Organize the world’s information and make it universally accessible and useful" then you are OK in my book.
		Working for Google is pretty unlikely for me though because I'm not formally educated in anything.
	</li>
	<li><strong>Khan Academy</strong><br/>
		I do believe in what Khan Academy is doing and who wouldn't want to work with John Resig,
		and Open Source Education, but GitHub, to me, is like a programmer's mecca. 
	</li>
	<li><strong>GitHub</strong><br/>
		You work for programmers, with programmers, serving a customer base of programmers.
		You push code at a pretty prolific pace. And your impact is meta - you enable programmers to be better programmers
		which make better technology which improves ___
		- There's just no possible way you work for GitHub and you don't level up a trillion points.
	</li>
	
</ul>

<h2>GitHub it is =D</h2>
<p>
	Hello GitHub! 
	<br/> I am Jade and I look forward to pushing more contributions =)
</p>
<% end %>