<% content_for :singular_repo do %>


	<div class="popover fade below in" style="display: block; z-index:1; top:10px; left:10px">
		<div class="arrow" style="left:33%;"></div>
		<div class="inner" style="width:650px; background:#FFF">
			<h3 class="title" style="background:#57A957; color:#FFF">Try a Search!</h3>
			<div class="content">
				<ol>
					<li>Enter a github username in the first box to filter by that user. A blank username scopes to all users.</li>
					<li>Add tags to your search with the second input box. Remove a tag by clicking on it.</li>
					<li>Hit enter to update your query.</li>
				</ol>

			</div>
		</div>
	</div>


	
<div id="home_text" style="margin-top:150px">
	<h1>Narly is a tagging system for GitHub projects.</h1>

	<ul>
		<li>
			Help others find your favorite projects by <span class="tagging">tagging</span> them with appropriate keywords.
		</li>
		
		<li>
			Discover great projects based on the specific attributes you're looking for.
		</li>
	</ul>

	<p>
		<% unless current_user %>
			<%= link_to "Sign in with Github", "/auth/github", :class => "signin btn large primary" %> 
			<p>
				Narly will automatically import your personal (public) repos and your watched repos.
				<br/>You can freely browse narly without signing in but you'll need to sign in to tag repos.
			</p>
		<% end %>
	</p>
	
</div>


<% end %>

<% content_for :side_content do %>
	<strong>Top Tags</strong>
	<ul class="tag_box">
		<% @tags.each do |tag| %>
			<li><%= link_to_tag(tag, repos_tagged_path(tag.name))%></li>
		<% end %>
	</ul>
<% end %>	

<% content_for :scripts do %>
	// User Tags shown on the right side panel.
	App.mainRepos.owner.tags.reset(<%= raw @tags.to_json %>);
<% end %>	