<div id="home_text">
	<p>
		I <em>"watch"</em> repos on GitHub as a kind of <span class="bookmark">bookmark</span> -
		<br/>there are tons of great people building tons of great stuff.</h2>
	
		<br/>But having one massive list of <span class="bookmark">bookmarks</span> doesn't make much sense -
		<br/>I rarely find anything.
	</p>

	<p>
		So I am building <strong>narly.us - A tagging system for GitHub projects.</strong>
	</p>

	<p>
		Now you can:
	</p>
	
	<ul>
		<li>
			Manage any and all projects you are interested in by <span class="tagging">tagging</span> them.
		</li>
		<li>
			Help others find projects by <span class="tagging">tagging</span> them with appropriate descriptions.
		</li>
	</ul>

	<p>
		I'll import your repos as well as the repos you are <em>"watching"</em> automatically.
		<br/>You can go to your page right now, just type in your GitHub username:
		<%= form_tag "/users", :method => :get do %>
			<input type="text" name="login" /> <button class="btn success">Show My Page</button>
		<% end %>
	</p>
</div>

<% content_for :side_content do %>
	<strong>Top Tags</strong>
	<ul class="tag_box">
		<% @tags.each do |tag| %>
			<li><%= link_to_tag(tag, repos_tagged_path(tag.name))%></li>
		<% end %>
	</ul>
<% end %>	

<% content_for :scripts do %>
	// User Tags shown on the right side panel.
	App.mainRepos.owner.tags.reset(<%= raw @tags.to_json %>);
<% end %>	