/* ...
*= require_self
*= require_tree .
*/

html, body {
	background:#FAF9F8;
}

/* TOP ======================================================== */

#top {
	position:fixed;
	width:100%;
	background:#FAF9F8;
	z-index:10;
}
#top_spacer {
	height:90px;
}

/* USER NAV ======================================================== */

#user_nav {
	text-align:center;
	overflow:hidden;
	height:45px;
	line-height:45px;
}
#user_nav div {
	padding: 0 10px;
	background:#3B2E2A;
	border-bottom:1px solid #222;
	overflow:hidden;
}

#user_nav ul {
	margin:0;
	padding:0;
	list-style:none;
	line-height:45px;
}
#user_nav li {
	display:inline;
}

#user_nav ul.right {
	float:right;
}
#user_nav ul.right li { 
	margin-left:10px;
}

#user_nav ul.left {
	float:left;
}
#user_nav ul.left li { 
	margin-right:10px;
}

#user_nav a.link{
	color:#E6D5C1;
	font-size:14px;
}	

#user_nav a.logo {
	color:#E6D5C1;
	font-size:14px;
	font-weight:bold;
}
#user_nav img {
	vertical-align:middle;
	width:25px;
	height:25px;
	padding:2px;
	border:1px solid #999;
}

/* HEADERS ======================================================== */
#filters_container {
	float:left;
	width:70%;
	font-size:14px;
	height:45px;
}
#headers div.tag_header {
	float:left;
	width:30%;
}

/* FILTERS ======================================================== */

#filters {
	position:relative;
	line-height:45px;
	height:45px;
	background:#FDE8B0;
	border:1px solid #EECB10;
	border-radius:0 0 5px 0;
	font-weight:bold;
	box-shadow:1px 1px 1px #ccc;
}
#filters img{
	position:absolute;
	top:0;
	left:15px;
	height:50px;
	width:50px;
	padding:1px;
	border:1px solid #B2A37C;
	background:#FDE8B0;
	background:#FFF;
}
#filters h4 {
	position:absolute;
	top:0;
	line-height:44px;
	left:15px;
	width:50px;
	color:#C70808;
}
#filters div {
	position:absolute;
	top:0;
	left:85px;
	height:45px;
	line-height:45px;
}
/* these are tags */
#filters span{
	padding:2px 8px;
	background:#57A957;
	border:1px solid #4C964D;
	border-radius:3px;
	color:#FFF;
	cursor:pointer;
}

/* TAG PANEL ======================================================== */

#tag_panel_container {
	display:none;
	float:left;
	width:70%;
	font-size:14px;
	height:45px;
}
#tag_panel {
	position:relative;
	line-height:45px;
	height:45px;
	margin:0;
	padding:0 10px;
	background:#DDF4FB;
	border:1px solid #C6EDF9;
	border-radius:0 0 5px 0;
	font-weight:bold;
	box-shadow:1px 1px 1px #ccc;
	text-align:center;
}
#tag_panel a:first-child {
	cursor:default !important;
}
#tag_panel_extended {
	background:#FFF;
	padding:10px;
	margin:0 20px;
	border:1px solid #C6EDF9;
	border-top:0;
	border-radius:0 0 5px 5px;
	box-shadow:1px 1px 1px #ccc;
}
#tag_panel_extended a {
	font-size:12px;
}
#my_tags_on_repo a:hover {
	background:#C43C35;
	color:#FFF;
}

/* TAG HEADER ======================================================== */

div.tag_header div {
	position:relative;
	line-height:45px;
	height:45px;
	padding-left:20px;
	background:#FFF;
	font-weight:bold;
}
div.tag_header h4 {
	display:inline;
	margin-right:6px;
	color:#C70808;
}

#tag_panel_container .alert-message p{ 
	height:40px;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
#tag_panel_container a.tag_panel_close { 
	float:right;
	position:relative;
	top:8px;
}

/* MAIN CONTENT ======================================================== */

#main_content_container {
	float:left;
	width:70%;
	position:relative;
}
#main_content {
	padding:20px;
	overflow:hidden;
}

/* SIDE CONTENT ======================================================== */

#side_content_container {
	float:right;
	width:30%;
	height:100%;
	position:relative;
	background:#FFF;
}
#side_content {
	clear:right;
	height:100%;
	padding: 10px;
	margin-bottom:8px;
	overflow:hidden;
}

/* FOOTER ======================================================== */

#footer {
	clear:both;
	padding:20px;
}
#footer ul {
	list-style:none;
}
#footer ul li {
	display:inline;
	margin-right:10px;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:30px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 5px 10px;
	margin: 2px;
	background: #555;
	color: #EEE;
	border-radius: 3px;
	text-decoration:none;
}

.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}



/* repo ======================================================== */

.repo {
	position:relative;
	float:left;
	height:130px;
	width:400px;
	overflow:visible;
	padding:5px;
	margin:5px;
	border:1px solid #EEE9DE;
	background:#fff;
	text-align:left;
	border-radius:3px;
}
.repo.hover {
	box-shadow:1px 1px 1px #eee;
}
.repo a.add_tag {
	float:right;
	font-size:11px;
}

.repo img {
	float:left;
	margin-right:10px !important;
}
.repo p.description {
	height:38px;
	overflow:hidden;
}
.repo .main {
	clear:left; 
	padding:4px;
	padding-bottom:0;
}

.repo .tags {
	background:#FFF;
	height:25px;
	overflow:hidden;
}
.repo.hover .tags {
	position:absolute;
	top:55px;
	left:0;
	padding:10px 10px 0 10px;
	display:block;
	height:70px;
	z-index:50;
}
.repo .tags a{
	float:left;
	font-size:12px;
	margin-right:4px;
	margin-bottom:4px;
	padding:2px 5px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:2px;
	text-decoration:none;
}

/* image thumb ======================================================== */

img.thumb {
	width:40px;
	height:40px;
	padding:2px;
	margin:2px;
	border:1px solid #ccc;
	border-radius:2px;
	background:#FFF;
}
	
/* misc ======================================================== */

.boxy {
	border:1px solid #EEE9DE;
	background:#fff;
	text-align:left;
	border-radius:3px;
}


	
/* ajax responses */
#status-bar { position: fixed; top: 0; left: 0; min-width: 890px; width: 100%; z-index: 9995; margin: 0; padding: 0; font-size: 12px; text-align: center; }
#status-bar div#submitting { margin: auto; }
#status-bar div.responding { margin: auto; width: 350px; }
#status-bar div#submitting { width: 180px; padding: 3px 20px; background: #FFAA3E url("/assets/load.gif") no-repeat 80% 50%; color: #9A6801; height: 55px; text-align: left; border:2px solid #DC781B; border-top:0; border-radius:0 0 3px 3px; }
#status-bar div#submitting strong { display: block; margin-top: 20px; font-size: 1.2em; }

.loading { width: 200px; margin: auto; margin-top: 30px; padding-top: 45px; text-align: center; color: #222222; background: url("/images/loading.gif") no-repeat top center; }
.loading.white { color: white; }

div.responding.active { padding: 5px; font-size: 14px; color: white; font-weight: bold; }
div.responding.active.good { background: green; color: white; }
div.responding.active.bad { background: red; color: white; }
div.responding.active.warn { background: orange; color: white; }
div.ajax_loading { width: 100%; height: 90px; background: transparent url("/images/common/load.gif") no-repeat 50% 50%; text-align: center; }


/* homepage */
#home_text p {
	font-size:24px;
	line-height:40px;
	margin-bottom:15px;
}
#home_text span {
	font-size:22px;
	color:inherit;
	padding:3px 6px;
	background:#eee;
	border-radius:3px;
}
#home_text span.tagging {
	color:#BE4C54;
}
#home_text span.bookmark {
	color:#785D56;
}
#home_text ul li { 
		font-size:22px;
		line-height:40px;
		color:inherit;
	}