#repository_container {
	padding:20px;
}
#repository_container li {
	color:inherit;
}
#repository_container h2.title {
	position:relative;
	line-height:50px;
}
#repository_container h2.title img {
	position:absolute;
	top:0;
}
#repository_container h2.title span {
	position:relative;
	left:55px;
}

.repo_outline , #side_content, #similar_repos_container,  #users_container {
	padding:10px 20px;
	overflow:hidden;
}

.boxy {
	margin-bottom:20px;
}